<div class="content">
  <div id="shoes">
  <% Shoe.all.each_slice(2) do |slice| %>
  <table id="shoe_table">
    <tr>
      <td>
        <% col = 0 %>
        <div class="shoe_pane">
          <a href="/shoes/<%= slice[0].id %>"><img src="/imgs/shoes/<%= slice[col].image_url %>_Small.jpg">
            <%= slice[0].brand + " " + slice[0].model %></a>
          </div>
        </td>
        <td>
          <% col = 1 %>
          <div class="shoe_pane">
            <a href="/shoes/<%= slice[1].id %>"><img src="/imgs/shoes/<%= slice[col].image_url %>_Small.jpg">
              <%= slice[1].brand + " " + slice[1].model %></a>
            </div>
          </td>
          <% end %>
        </tr>
      </table>
    </div>
</div>
