<div class="shoe-instance">
  <img src="../<%= @shoe.image_url %>_Large.jpg">
  <span class="title"><%= @shoe.brand + " " + @shoe.model %></span>
  <a href="/shoes/<%= @shoe.id %>/new_review">Write a new review for the <%= @shoe.brand + " " + @shoe.model %></a>
  <div class="reviews">
  <% @shoe.reviews.each do |review| %>
  <div class="review">
  <p><%= review.updated_at %> <% author_name = User.find(review.author_id).username %><a href="../users/<%= author_name %>"><%= author_name %></a><br>
  <%= review.message %></p>
</div>
  <% end %>
</div>
</div>
