<div class="shoe-instance">
  <div class="heading">
    <div class="heading-img">
    <img src="../<%= @shoe.image_url %>_Small.jpg">
  </div>
  <div class="heading-title">
    <span class="title"><%= @shoe.display_name %></span>
    <p><a href="/shoes/<%= @shoe.display_name %>/new_review">Write a new review for the <%= @shoe.brand + " " + @shoe.model %></a></p>
    <% if session[:user_id] %>
      <div id="newReviewTitle" class="new-review-title" contenteditable="true" name="title">Your Review Title</div>
      <div id="newReview" class="new-review" contenteditable="true" name="message">
        Your review about the <%= @shoe.display_name %>...
      </div>
      <div id='submitNewReview' name='<%= @shoe.display_name %>'>Submit</div>
    <% else %>
      <div id="newReviewTitle" class="new-review" name="title">Your Review Title</div>
      <div id="newReview" class="new-review" name="message">
        Please login or register to post a new review.
      </div>
    <% end %>
  </div>
</div>
  <div class="reviews">
    <% @shoe.reviews.each do |review| %>
    <div class="review">
      <% author = User.find(review.author_id) %>
      <span class='review-title'><%= shorten_string(review.title, 20) %></span> <span class='review-date'><%= parse_time(review.updated_at) %></span>
      <p><a href="../users/<%= author.fb_id %>"><img class="thumbnail" src="http://graph.facebook.com/<%= author.fb_id %>/picture"><%= author.username %></a></p>
        <p><%= review.message %></p>
    </div>
    <% end %>
  </div>
</div>
