<div class="user-profile">
  <div class='heading'>
    <img class="profile-picture" src="http://graph.facebook.com/<%= @user.fb_id %>/picture">
    <span class="title"><%= @user.username %></span>
  </div>
  <div class="reviews">
    <% @shoes_with_reviews.each_pair do |shoe, review| %>
    <div class="review">
      <a href="/shoes/<%= shoe.display_name %>">
        <img class="thumbnail" src="/<%= shoe.image_url %>_Small.jpg">
        <span class="subtitle"><%= shoe.brand + " " + shoe.model %></span>
      </a>
      <p><%= review.message %></p>
    </div>
    <% end %>
  </div>


</div>
